@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.header {
  min-height: 80px;
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include marginBottom();
  @media screen and (max-width: 795px) {
    justify-content: flex-start;
  }
}