@import './../common/styles/sass/variables';

.header {
    height: 80px;
    background-color: $backgroundColor;
    --tw-backdrop-blur: blur(16px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}