@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  position: sticky;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;

  .line {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
  }

  .nav {
    min-height: 80px;
    width: 100%;
    background-color: $backgroundColor;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 814px) {
      justify-content: flex-start;
    }
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
  }
}