@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.workFromHomeBlock {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  width: 100%;
  @include margin();

  .workFromHomeContainer {
    flex-direction: column;
    justify-content: center;
    @include container();

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .getInTouch {
        background-color: $primaryColor;
        color: $backgroundColor;
        padding-top: 2em;
        @include btnProperties();

        &:hover {
          background: $aColor;
          color: $backgroundColor;
        }
      }
    }
  }
}
