@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.nav {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 814px) {
    display: none;
  }

  .navPadding {

    .resume {
      width: max-content;
      cursor: default;
      text-decoration: none;
      border: 1px solid $primaryColor;


      &:hover {
        border: $borderColor 1px solid;
        border-radius: 0.25rem;
      }
    }

    .active {
      background-color: $aColor;
      color: $backgroundColor;
    }
  }

  a {
    @include headerNav();

    .active {
      background: $aColor;
      color: $backgroundColor;
    }

    &:hover {
      background: $aColor;
      color: $backgroundColor;
    }
  }
}

