@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.nav {
  //gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 795px) {
    display: none;
  }

  a {
    @include headerNav();

    .active {
      background: $aColor;
      color: $backgroundColor;
    }

    &:hover {
      background: $aColor;
      color: $backgroundColor;
    }
  }

  .resume {
    border: 1px solid $primaryColor;

    &:hover {
      border: $borderColor 1px solid;
      border-radius: 0.25rem;
    }
  }
}

