@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.nav {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 814px) {
    display: none;
  }

  a {
    @include headerNav();

    .active {
      background: $aColor;
      color: $backgroundColor;
    }

    &:hover {
      background: $aColor;
      color: $backgroundColor;
    }
  }


}

