@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.navPadding {

  .resume {
    border: 1px solid $primaryColor;

    &:hover {
      border: $borderColor 1px solid;
      border-radius: 0.25rem;
    }
  }

  .active {
    background-color: $aColor;
    color: $backgroundColor;
  }
}

.burgerNavItems {
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  transform: translate(0, -240px);
  transition: 0.7s;
  .active {
    background-color: $aColor;
    color: $backgroundColor;
  }
  a {
    @include headerNav();
    background-color: rgba(15, 23, 42, 1);

    &:hover {
      background-color: $aColor;
      color: $backgroundColor;
    }


  }
}

.show {
  transform: translate(0, 0);
}



