@import './../../common/styles/sass/variables';

.container {
    background-color: $backgroundColor;
    backdrop-filter: blur(16px);
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 6rem;
}
