/*.alice-carousel__wrapper:hover {*/
/*    transition: .2s ease-in-out;*/
/*    border-color: rgba(114, 226, 174, 1);*/
/*    cursor: grab;*/
/*}*/

/*.alice-carousel:hover {*/
/*    filter: grayscale(100%);*/
/*}*/

.alice-carousel__dots {
    margin-top: 2rem;
}

.alice-carousel__dots-item:not(.__custom) {
    background-color: rgba(114, 226, 174, 0.2);
    border-radius: 9999px;
    width: 1.5rem;
    height: 0.375rem;
    display: inline-block;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
    background-color: rgba(114, 226, 174, 1);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(114, 226, 174, 1);
}

.alice-carousel__prev-btn:hover,
.alice-carousel__next-btn:hover {
    background-color: #FAFAFAFF;
    transition: .2s ease-in-out;
}

.alice-carousel__prev-btn {
    position: absolute;
    top: 35%;
    left: -100px;
}


.alice-carousel__next-btn {
    position: absolute;
    top: 35%;
    right: -100px;
}

@media screen and (max-width: 768px) {
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
        display: none;
    }
}