@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.mainBlock {
  @include container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  @include padding();

  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top: 7rem;
  }

    .textContainer {
      max-width: 550px;
      width: 100%;

      @media (max-width: 1200px) {
        max-width: 500px;
      }

      h1 {
        margin-bottom: 1rem;
      }

      p:first-child {
        display: none;
      }

      .getInTouch {
        @include btnProperties();
        margin-top: 1.75rem;
      }

      .scroll {
        opacity: 1;
        transform: none;
        text-align: start;
        width: 100%;
        margin: 1.75rem 0;

        @media (max-width: 1200px) {
          display: none;
        }

        a {
          @include headerNav();
          border: $primaryColor 1px solid;
          background-color: transparent;
          margin-left: 0;
          color: $textColor;
          animation: blink 1.5s infinite;
          animation-direction: alternate-reverse;

          &:hover {
            border-color: $primaryColor;
            animation: none;
          }
        }
      }

      .contactsIcons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 1200px) {
          justify-content: center;
          align-items: center;
        }

        .emptySpan {
          @include bgSpan();
          width: 196px;
          transform: translate(0, 0);
          margin: 1.75rem 0;

          @media (max-width: 1200px) {
            margin-top: 0;
          }

          .slider {
            @include slider();
          }

        }
      }

      .nameBlock {
        display: block;
        text-align: start;
        color: $aColor;
        opacity: 1;
        transform: none;
        font-weight: 700;
        font-family: Radio Canada, sans-serif;
        word-break: break-word;
        font-size: 2em;

        @media (max-width: 1200px) {
          text-align: center;
          font-size: 36px;
          margin: 0.75rem 0;
        }

        span {
          @media (max-width: 1200px) {
            display: block;
          }

          @media (max-width: 640px) {
            font-size: 24px;
            margin: 0.15rem 0;
          }

          &:nth-child(3) {
            color: $primaryColor;
          }
        }
      }

      .description {
        margin-bottom: 0;
        line-height: 1.5;
        opacity: 1;
        transform: none;
        font-size: 18px;

        &::selection {
          user-select: none;
        }

        @media (max-width: 1200px) {
          text-align: center;
          font-size: 22px;
          margin: 0.75rem 0;
        }
      }
    }

    .photo {
      max-width: 500px;
      width: 100%;
      transform: none;
      background-color: $backgroundBlockColor;
      border-radius: .5rem;
      border: 1px solid $borderColor;
      padding: 1.5rem;

      &:hover {
        border-color: $primaryColor;
        transition: $transition;
      }

      .ava {
        animation: avaAnimation 2s ease-in-out 1;
        max-width: 100%;
        border-radius: 0.5rem;
        border: 1px solid $aColor;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        transform: translateZ(60px);
      }
    }
  }

@keyframes avaAnimation {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes titleSliderAnimation {
  0% {
    transform: translateX(206px);
  }
  100% {
    transform: translateX(-10px);
  }
}