@import './../../common/styles/sass/variables';

.skill {
  width: 100%;
  opacity: 1;
  transform: none;
  background-color: $backgroundBlockColor;
  border-radius: 0.5rem;
  border: 1px solid $borderColor;

  @media screen and (min-width: 768px) {
    padding: 1.25rem
  }

  .icon {
    width: 45%;
    padding: 3px;
    margin-bottom: 1em;
    background-color: $aColor;
    border-radius: 0.5rem;

    &:hover {
      animation: 1.2s ease-in-out 0s normal none infinite running shake-animation;
    }
  }

  .progress {
    .h3 {
    }

    .primary {
      color: $primaryColor;
      padding: 0 0 1.25rem;
    }

    .progressBar {
      background-color: rgba(114, 226, 174, 0.2);
      height: 1rem;
      position: relative;
      width: 100%;
      border-radius: 9999px;

      .primaryProgress {
        border-radius: 9999px;
        position: absolute;
        content: '';
        background-color: $primaryColor;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes shake-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
  }
}

