.wrapper {
  position: fixed;
  right: 1.75rem;
  bottom: 3rem;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(114, 226, 174, 1);

  :hover {
    background-color: #FAFAFAFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}