.homeBlock {
    height: 100vh;
    background-color: #febee0;
}

.nameBlock {
    width: 300px;
    background-color: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}