.homeBlock {
    height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
    --tw-backdrop-blur: blur(16px);}

.nameBlock {
    width: 300px;
    background-color: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}