@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.homeBlock {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6em;

  .container {
    @include container();
    @media (max-width: 1503px) {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .textContainer {
      .nameBlock {
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        text-align: start;
        color: $aColor;
        opacity: 1;
        transform: none;
        font-weight: 700;
        font-family: Radio Canada, sans-serif;
        word-break: break-word;
        font-size: 2em;
        margin: 0.67em 0;
        @media (min-width: 768px) {
          font-size: 36px;
          line-height: 1.2;
        }
        @media (max-width: 1503px) {
          text-align: center;
          margin: 0.75rem 0;
        }

        .spanPrimary {
          color: $primaryColor;
        }
      }

      .description {
        margin-bottom: 0;
        line-height: 1.5;
        opacity: 1;
        transform: none;

        @media (max-width: 768px) {
          font-size: 22px;
        }
      }
    }

    .photo {
      max-width: 40%;
      transform: none;
      background-color: $backgroundBlockColor;
      border-radius: 0.5rem;
      border: 1px solid $borderColor;
      padding: 2%;

      .avatar {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
      }
    }
  }
}
