@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.contacts {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  @include padding();

  .container {
    @include container();

    .grid {
      display: grid;
      gap: 1.75rem;
      grid-template-columns: repeat(9, minmax(0, 1fr));

      .contactsContainer {
        opacity: 1;
        transform: none;
        display: grid;
        grid-column: span 9/span 9;

        @media screen and (min-width: 1024px) {
          grid-column: span 4/span 4;
        }

        .contactInfo {

          .h3 {
            font-size: 22px;
            line-height: 1.4;
            font-weight: 600;
          }

          .emptySpan {
            @include bgSpan();
            transform: translate(0, 0);
          }

          .contactsWrapper {
            margin-top: 1.25rem;

            .contactBlock {
              background-color: $backgroundBlockColor;
              border-radius: 0.5rem;
              border: 1px solid $borderColor;
              backdrop-filter: blur(12px);
              padding: 1.5rem;
              display: flex;
              margin-top: 1.6rem;
              gap: 1rem;

              @media screen and (max-width: 1279px) {
                padding: 1rem;
              }

              .icon {
                color: $primaryColor;
                background-color: rgba(114, 226, 174, 0.1);
                border-radius: 9999px;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                display: flex;
                border: 1px solid $borderColor;

                @media screen and (max-width: 400px) {
                  display: none;
                }

                .svg {
                  display: block;
                  vertical-align: middle;
                  width: 4rem;
                  height: 4rem;
                  border-radius: 9999px;
                }
              }

              .contactTitle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5rem;

                h3 {
                  margin: 0;
                }

                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .mailContainer {
        display: grid;
        grid-column: span 9/span 9;
        align-items: center;
        opacity: 1;
        transform: none;

        @media screen and (min-width: 1024px) {
          grid-column: span 5/span 5;
        }
      }
    }
  }
}






