@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.burgerNav {
  width: 100%;
  height: 100%;



  .burgerBtn {
    width: 30px;
    height: 30px;
    background-color: $primaryColor;
    position: absolute;
    top: 20px;
    right: 20px;
    border: $borderColor 1px solid;
    border-radius: 0.25rem;
  }

  @media screen and (min-width: 815px) {
    display: none;
  }
}

