@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.skillsBlock {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  margin-bottom: 6em;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @include container();

    .skills {
      display: grid;
      gap: 1.75rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: 1rem;

      .skillGrid {
        @media screen and (max-width: 640px) {
          grid-column: span 2/span 2;
        }
      }
    }
  }
}