.skillsBlock {
    /*min-height: 100vh;*/
    background-color: #bfffbf;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d6d6d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 704px){
    .skills {
        justify-content: center;

    }
}