@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.skillsBlock {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  @include margin();

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @include container();

    .skills {
      display: grid;
      gap: 1.75rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: 1rem;
      @media screen and (max-width: 865px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @media screen and (max-width: 664px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media screen and (max-width: 431px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      .skillGrid {
      }
    }
  }
}