@import 'src/common/styles/sass/variables';

.boxContainer {
  margin-bottom: 0;
  gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  .box {
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    border: 1px solid $borderColor;
    width: 40px;
    height: 40px;

    &:hover {
      border-color: $primaryColor;
      transition: $transition;
    }

    .icon {
      width: 30px;
      height: 30px;
    }


  }
}