@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.project {
  transform: none;
  background-color: $backgroundBlockColor;
  border-radius: 0.5rem;
  border: 1px solid $borderColor;
  width: 100%;
  padding: 1.25rem;

  &:hover {
    transform: translate(0, -5%);
    transition: 0.3s;
    border-color: $primaryColor;
  }

  .projectImg {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6a4a4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $backgroundColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.54;
    }

    .projectButton {
      @include btnProperties();
      cursor: default;
      text-decoration: none;
    }

    .disabled {
      @include btnProperties();

      &:hover {
        background-color: $primaryColor;
      }
    }
  }

  .projectText {
    margin-top: 1rem;
  }
}
