@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.project {
  background-color: $backgroundBlockColor;
  border-radius: 0.5rem;
  border: 1px solid $borderColor;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:hover {
    transition: $transition;
    border-color: $primaryColor;
    cursor: grab;
  }

  .btnFlex {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .projectButton {
      @include btnProperties();
      cursor: pointer;
      text-decoration: none;
    }

    .disabled {
      cursor: not-allowed;

      &:hover {
        background-color: $primaryColor;
      }
    }
  }

  .projectImg {
    height: 300px;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid $borderColor;
    background-color: rgba(114, 226, 174, 0.1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    p::selection {
      user-select: none;
    }
  }

  .projectText {
    text-align: center;
  }

}
