* {
    padding: 0;
    box-sizing: border-box;
}

h3 {
    display: block;
    margin: 0 0 0.75rem;
    font-family: Radio Canada, sans-serif;
    color: rgb(250 250 250/1);
    word-break: break-word;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

p {
    margin: 0 0 0.75rem;
    font-family: Radio Canada, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(191 190 203/1);
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 360px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
