@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.footer {
  background-color: $backgroundColor;
  backdrop-filter: blur(8px);
  padding: 1.25rem 2rem;
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;

  .copyrightBlock {
    .copyright {
      width: auto;
      margin-bottom: 0;
      font-family: Radio Canada, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: $textColor;
      display: block;
      word-break: break-word;
      text-align: center;
      padding-top: 1rem;
    }
  }

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    @include container();
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: $borderColor 1px solid;
  }
}





