@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.nav {
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;

  .link {
    a {
      @include headerNav();

      &:hover {
        background: $aColor;
        color: $backgroundColor;
      }
    }
  }

  .btnCV {
    a {
      @include headerNav();
    }

    .resume {
      font-weight: 700;
      background-color: $primaryColor;
      color: black;
      border: 0;

      &:hover {
        transform: scale(1.2);
        background: $aColor;
      }
    }
  }
}

