@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.nav {
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  @media screen and (min-width: 640px) {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .link {
    .resume {
      font-weight: 700;
      background-color: $primaryColor;
      color: black;
      border: 0;

      &:hover {
        background: $aColor;
      }
    }
    a {
      @include headerNav();

      &:hover {
        background: $aColor;
        color: $backgroundColor;
      }
      .active {
        background: $aColor;
        color: $backgroundColor;
      }
    }

  }
}

