@import 'variables';

@mixin slider() {
  background-color: rgba(114, 226, 174, 1);
  border-radius: 9999px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.5rem;
  animation: titleSliderAnimation 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes titleSliderAnimation {
  0% {
    transform: translateX(130px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@mixin margin() {
  margin-bottom: 6em;
  padding-top: 10em;
  @media screen and (max-width: 952px) {
    margin-bottom: 2em;
    padding-top: 6em;
  }
}

@mixin container() {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

@mixin btnProperties() {
  padding: 0.375rem 1rem;
  position: relative;
  display: inline-block;
  height: auto;
  min-height: 0;
  width: auto;
  cursor: default;
  overflow: hidden;
  border-radius: 0.25rem;
  border-width: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  background-color: $primaryColor;
  color: $backgroundColor;
  &:hover {
    background: $aColor;
    color: $backgroundColor;
  }
}

@mixin headerNav() {
  color: $aColor;
  padding: 0.375rem 0.5rem;
  margin-left: 1.5rem;
  display: inline-block;
  text-decoration: none;
  font-family: Radio Canada, sans-serif;
  word-break: break-word;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: $borderColor 1px solid;
  border-radius: 0.25rem;
  background-color: $backgroundBlockColor;
  cursor: default;
}
