@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.slider {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
}

