@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.footer {
  background-color: $backgroundColor;
  backdrop-filter: blur(8px);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  .copyrightBlock {
    .copyright {
      width: auto;
      margin-bottom: 0;
      font-family: Radio Canada, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: $textColor;
      display: block;
      word-break: break-word;
      text-align: center;
    }
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include container();
    margin-top: 2em;
    border-top: $borderColor 1px solid;

    @media screen and (max-width: 508px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .name {
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 0;
      color: $aColor;

      &:hover {
        color: $primaryColor;
        cursor: pointer;
      }
    }
  }
}





