.projectsBlock {
    /*min-height: 100vh;*/
    background-color: #eaccfc;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projectTitle {
    background-color: #d6d6d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}