@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.projectsBlock {
  background-color: $backgroundColor;
  backdrop-filter: blur(16px);
  @include margin();

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @include container();

    .projects {
      gap: 1.75rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      display: grid;
      margin-top: 1rem;
      justify-items: center;

      .projectGrid {
        @media screen and (max-width: 640px) {
          grid-column: span 1/span 1;
        }

        @media screen and (max-width: 1024px) {
          grid-column: span 2/span 2
        }
      }
    }
  }
}


