.projectsBlock {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
    --tw-backdrop-blur: blur(16px);
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    gap: 1.75rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    margin-top: 1rem;
    justify-items: center;
}

@media screen and (max-width: 704px){
    .projects {
        justify-content: center;
    }
}

/*@media screen and (min-width: 640px) {*/
/*    .projectsBlock {*/
/*        grid-column: span 1/span 1;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 1024px) {
    .projects {
        grid-column: span 2/span 2
    }
}*/
